@page
@using System.IO
@model Lab3.Pages.FileHandlingModel
@{
}

@{
    string uploadsDir = Directory.GetCurrentDirectory(); //Finds and sets current projects current directory
    uploadsDir += @"\wwwroot\fileupload\"; // Adds target location to read files from
    // <p>@uploadsDir</p>
    <br />
    DirectoryInfo uploadsFolder = new DirectoryInfo(uploadsDir);

    var fileListing = uploadsFolder.GetFiles();

    foreach (var file in fileListing)
    {
        <a href="/fileupload/@file.Name" target="_blank">@file.Name</a>
        <br />
    }
}
