@* Made By Jordon Fischer, Luke Evans, Divij Kumar, Dylan Kasher, Trevor Hudson, Gabe Oduro 2/29/2024*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1><u>Welcome to Our System!</u></h1>

    <div class="container mt-5">
        <div class="jumbotron">
            <h2 class="display-4">Brought to You By Tech Titans</h2>
            <p class="lead">Jordon Fischer, Luke Evans, Divij Kumar, Dylan Kasher, Trevor Hudson, Gabe Oduro</p>
        </div>
    </div>
</div>
