@* Made By Jordon Fischer, Luke Evans, Divij Kumar, Dylan Kasher, Trevor Hudson, Gabe Oduro 2/29/2024*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1><u>Madison County Government Internal System</u></h1>

    <div class="container mt-5">
        <div class="jumbotron">
            <h2 class="display-4">Brought to You By Tech Titans</h2>
            <p class="lead">Parker Adams, Jordon Fischer, Luke Evans, Alex Fish, Divij Kumar, Dylan Kasher, Trevor Hudson, Gabe Oduro, Alex Truong, Jeremy Wagner</p>
        </div>
    </div>
</div>
