@page
@model Lab3.Pages.Collaboration.CollaborateAreaModel

<h1>Existing Collaboration Areas:</h1>

<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Work In Progress</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                @foreach (var item in Model.CollabAreas)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">@item</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<br />

<div class="container">
    <div class="row">
        <aside class="col-md-4">
            <h2>Chat Section</h2>
            <form method="post" action="/Chat/SendMessage">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="CurrentCollab.Chats" placeholder="Type Message Here" />
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </aside>

        <section class="col-md-8">
            <h2>Create a New Collaboration Area</h2>
            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="NewCollab.Name" placeholder="Enter New Collaboration Area Name" />
                    <button class="btn btn-success" type="submit" asp-page-handler="Create">Create</button>
                </div>
            </form>

            <h2>Include Knowledge Item</h2>
            <form method="post">
                <div class="input-group mb-3">
                    <select class="form-select" asp-for="SelectKnowledgeItem" asp-items="Model.SelectKnowledgeItem">
                        <option value="">Choose an Item</option>
                    </select>
                    <button class="btn btn-info" type="submit" asp-page-handler="AddKnowledge">Include</button>
                </div>
            </form>
        </section>
    </div>
</div>
