@page
@model Lab3.Pages.Collaboration.CollaborateAreaModel
@{
}

<h1>Existing Collaboration Areas:</h1>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Work In Progress</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var item in Model.CollabAreas)
                {
                <li class="nav-item">
                <a class="nav-link" href="#">@item</a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
<br />

<aside>
    <h1>Chat Section</h1>

@*     FIGURE OUT HOW TO MAP MESSAGES CORRECTELY IN MODEL!
 *@
    <form method="post" action="/Chat/SendMessage">
        <input asp-for="CurrentCollab.Chats" placeholder="Type Message Here:" />
        <button type="submit">Send</button>
    </form>
</aside>

<h1>Create a New Collaboration Area</h1>
<form method="post">
    <input asp-for="NewCollab.Name" />
    <br />
    <button type="submit" asp-page-handler="Create">Create</button>
</form>
<br />

<h1>Knowledge Item:</h1>


<h1>Include Knowledge Item:</h1>
<form method="post">
    <p>Choose Knowledge Item:</p>
    <select asp-for="SelectKnowledgeItem" asp-items="Model.SelectKnowledgeItem">
        <option value="">Choose an Item</option>
    </select>
    <button type="submit" asp-page-handler="AddKnowledge">Create</button>
</form>
