@page
@model CreatePlanModel
@{
    ViewData["Title"] = "Create Plan";
}

<form method="post">
    <h1>Create a New Plan</h1>
    <div>
        <label asp-for="NewPlan.Name">Plan Title:</label>
        <input asp-for="NewPlan.Name" />
        <br />
        <span asp-validation-for="NewPlan.Name" class="text-danger"></span>
    </div>
    Share Plan with others:
    <select asp-for="SelectedUsers" asp-items="Model.Users" multiple class="form-select">
        <option value="" disabled></option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary" asp-page-handler="Save">Save Plan</button>
</form>

